@page "/"
@inherits IndexBase

<h1 style="font-size: 28px; margin-bottom: 20px;">My Timeline</h1>
@if (user != null)
{
    @foreach (var twit in twits)
    {
<div class="twit-container">
    <div class="twit-pic-container">
        //image
    </div>
    <div class="name-date-container"> 
        <div class="name-twit-displayed">
            <b> <u>> @twit.Name </u> </b> @twit.Twit
        </div>
        <div class="date">
            @twit.Date
        </div>
    </div>
</div>
    }

}


