@page "/public-timeline"
@inherits PublicTimelineBase

<h1 style="font-size: 28px; margin-bottom: 20px;">Public Timeline</h1>

@if (isLoading)
{
    <div class="spinner">Loading...</div>
}
else {
    @foreach (var twit in twits)
    { 
        <div class="twit-container">
            <div class="twit-pic-container">
                <img style="width: 80px; height: 80px" src=@GetImageSource() >
            </div>
            <div class="name-date-container">
                <div class="name-twit-displayed">
                    <b> <u> <a class="clickable-href" @onclick="() => GoToUserProfile(twit.author_id)"> @twit.user.username </a> </u> </b> @twit.text
                </div>
                <div class="date">
                    @twit.pub_date
                </div>
            </div>
        </div>
    }
}



